body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 70px;
}

a {
	display: inline-block;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.2em;
    color: #ff0000;
}

a:hover{
	text-decoration: underline;
}

a.intext{
    color: #72726b;
}

a.intext:hover{
	text-decoration: underline;
	color: #fffda5
}

a.upmenu:hover{
	-webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -o-transform:scale(1.3);
	transform: scale(1.3);
	color: #3333cc;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #b3d1ff;
}

h2 {
	font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #b3d1ff;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #b3d1ff;
}

p1 {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #b3d1ff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
