<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a onmouseover="bigImg(this)" onmouseout="normalImg(this)" href="/">Domov</a></li>
		        	<li><a href="/about">O mne</a></li>
	        		<li><a href="/projekty">Projekty</a></li>
	        		<li><a href="/blog">Hobby</a></li>
					<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
			<script>
			function bigImg(x) {
			  x.style.height = "64px";
			  x.style.width = "64px";
			}

			function normalImg(x) {
			  x.style.height = "32px";
			  x.style.width = "32px";
			}
</script>
		</body>
	</html>
