<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<script src="//www.powr.io/powr.js?external-type=html"></script> 
		<div class="powr-countdown-timer" id="39d75ab3_1551950591"></div>
		<body style="background-color:#4d4d00;">
			<nav>
	    		<ul>
	        		<li><a class="upmenu" href="/" name="ponuka">Domov</a></li>
		        	<li><a class="upmenu" href="/cv">CV</a></li>
	        		<li><a class="upmenu" href="/projekty">Projekty</a></li>
	        		<li><a class="upmenu" href="/hobby">Hobby</a></li>
					<li><a class="upmenu" href="/blog">Blog</a></li>
					<li><a class="upmenu" href="/wpub">Webové publikovanie</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fabrya456@gmail.com">email</a></li>
	        		<li><a href="https://github.com/adamis19">github.com/adamis19</a></li>
					<li><a>Táto stránka obsahuje {{ page.content | number_of_words }} slov.</a></li>
				</ul>
			</footer>
		</body>
	</html>
